.container__projetos {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.688);
    width:95%;
    height: auto;
    margin:0 auto;
    padding: .3rem;
    h2 {
        width: auto;
        display: inline-block;
        font-weight: bold;
        font-size: 2.5rem;
        color: #2a363b;
        border-bottom: 3px solid #2a363b;
        margin: 1.5rem 0;
    }
}

.projetos {
    display: flex;
    width: 90%;
    min-width: auto;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: .5rem;
    height: auto;
    flex-wrap: wrap;
    gap: 5px;
    .projeto__corpo {
        width:calc( 97% /3 );
        background-color: white;
        img {
            width: 80%;
            height: auto;
            border-radius: 15px;
        }
    }
}


.projeto {
    width: 290px;
    height: auto;
    background-color: rgba(168, 15, 251, 0.37);
    display: flex;
    border-radius: 15px;
    img {
        width:100%;
        border-radius: 15px;
        transition: all ease-in-out 800ms;
        &:hover {
            cursor: pointer;
        }
    }
}
