* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}


@font-face {
    src: url('../font/TiltPrism-Regular.ttf');
    font-family: 'Tilt Prism';    
    font-weight: bold;
} 

@font-face {
    src: url('../font/GreatVibes-Regular.ttf');
    font-family: 'GreatVibes';    
    font-weight: bold;
} 
